<form>
    <div class="row">
        <div class="col-md-9">
            <img src="/img/horse524.jpg" alt="A horse" style="width:100%;" />
        </div>
        <div class="col-md-3">
            <h1>{{product.name}}</h1>
            <select>
                <option value="">Qty</option>
                <option data-ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">{{i}}</option>
            </select>
            <input type="submit" value="Add to basket" ng-click="addToBasket(product)" />
        </div>
    </div>
</form> 